[submodule "external/du-unit-testing"]
	path = e/du-unit-testing
	url = git@github.com:PerMalmberg/du-unit-testing.git
[submodule "external/du-stream"]
	path = e/stream
	url = git@github.com:PerMalmberg/du-stream.git
